:root {
  --branding-color: #f6eedf;
  --secondary-color: #f57b51;
  --tertiary-color: #d63447;
  --heading-font-family: "Georgia", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: black;
}

h1 {
  font-weight: bold;
}

h2 {
  font-size: 64px;
  font-weight: bold;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 30px;
  font-size: 16px;
  opacity: 0.8;
}

.hero {
  background-color: var(--branding-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 30px;
  font-weight: bold;
  color: #092926;
  margin: 0;
}

.hero h1 {
  font-size: 96px;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
}

.btn-hero {
  background: var(--secondary-color);
  border-radius: 4px;
  color: #f6eedf;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  font-family: var(--default-font-family);
}

.btn-hero:hover {
  background-color: #d63447;
  color: #f6eedf;
}

.btn-branding-outline {
  border-radius: 4px;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  background-color: var(--branding-color);
  font-size: 16px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  font-family: var(--default-font-family);
}

.btn-branding-outline:hover {
  background-color: var(--tertiary-color);
  color: var(--branding-color);
  border: none;
}

.project-description {
  padding: 80px 40px;
}

.about-section {
  padding: 160px 20px;
  text-align: center;
}

.about-section h1 {
  font-size: 64px;
}

.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.about-section p {
  font-size: 14px;
}

.holly-photo {
  max-width: 80%;
  max-height: 80%;
  border-radius: 4px;
}

@media (max-width: 900px) {
  .hero {
    padding: 80px 20px;
  }

  .hero h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 42px;
  }

  .featured-projects {
    padding: 0;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }

  .about-section {
    text-align: center;
    padding: 0;
  }

  .about-section h1 {
    font-size: 44px;
  }
}
