:root {
  --branding-color: #f6eedf;
  --secondary-color: #f57b51;
  --tertiary-color: #d63447;
  --heading-font-family: "Georgia", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: black;
}

h1 {
  font-weight: bold;
}

h2 {
  font-size: 64px;
  font-weight: bold;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 30px;
  font-size: 16px;
  opacity: 0.8;
}

.hero {
  background-color: var(--branding-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 30px;
  font-weight: bold;
  color: #092926;
  margin: 0;
}

.hero h1 {
  font-size: 96px;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
}

.btn-hero {
  background: var(--secondary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  font-family: var(--default-font-family);
}

.btn-hero:hover {
  background-color: #d63447;
  color: white;
}

.btn-branding-outline {
  border-radius: 4px;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  background-color: var(--branding-color);
  font-size: 16px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  font-family: var(--default-font-family);
}

.btn-branding-outline:hover {
  background-color: var(--tertiary-color);
  color: var(--branding-color);
  border: none;
}

.project-description {
  padding: 80px 40px;
}

nav {
  padding: 8px 0;
}
nav ul {
  padding: 0;
  margin: auto;
  font-family: var(--default-font-family);
  font-size: 16px;
}

nav li {
  list-style: none;
  display: inline;
  margin-left: 25px;
  line-height: 42px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all 150ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--secondary-color);
}
.content-container {
  padding: 160px 20px;
  text-align: center;
}

.content h1 {
  font-size: 64px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 1.5;
}

.content p {
  font-size: 14px;
}

.holly-photo {
  max-width: 80%;
  max-height: 80%;
  border-radius: 4px;
}

.Shecodes-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.Shecodes-link:hover {
  color: var(--secondary-color);
}
.volleyball-photo {
  max-width: 90%;
  max-height: 90%;
}
img {
  border-radius: 4px;
}

.launch-work-links {
  text-decoration: none;
  color: black;
}
.launch-work-links:hover {
  color: var(--secondary-color);
}
footer {
  margin: 50px 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 22px;
  text-align: center;
  font-family: var(--default-font-family);
}

footer .email-link:hover {
  color: var(--secondary-color);
}

footer .social-links a {
  margin: 30px 20px;
  color: var(--secondary-color);
  background: var(--branding-color);
  padding: 10px 14px;
  font-size: 20px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--secondary-color);
}

footer .Github-link,
.Name-link-footer {
  color: black;
}

footer .Github-link:hover,
.Name-link-footer:hover {
  color: var(--secondary-color);
}

@media (max-width: 900px) {
  nav {
    padding: 5px;
  }

  nav a {
    font-size: 14px;
  }

  .hero {
    padding: 80px 20px;
  }

  .hero h1 {
    font-size: 44px;
    line-height: 2;
    margin-bottom: 0;
  }
  .hero h2 {
    font-size: 20px;
  }

  h2 {
    font-size: 40px;
  }

  .featured-projects {
    padding: 0;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }

  .content h1 {
    font-size: 44px;
  }

  footer .email-link {
    font-size: 18px;
  }
}
